html, body {
  min-height:100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-size: 3.5rem;
}

#canvas {
  min-width: 1000px;
  min-height: 600px;
}

#tooltip {
  visibility: hidden;
  height: auto;
  width: auto;
  font-size: .7rem;
}
